/bin/POO/automovel.class
/bin/POO/testeAutomovel.class
/bin/POO/testeEmpregado.class
/bin/POO/testeOperario.class
/bin/POO/testeFornecedor.class
/bin/POO/empregado.class
/bin/POO/operario.class
/bin/POO/fornecedor.class